<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Github</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
      <div class="wrapper">
        <ul class="squares"></ul>
        <div class="text">
          <p>Hello, I'm </p>
          <h1>Rogério Toledo </h1> 
          <p>I'm a Full Stack Developer &lt; / &gt; </p>
        </div>
      	<img src="./assets/dev.svg" alt="developer"/>
      </div>
  </body>
</html>